# Core environment
python==3.12.3
openssl==3.5.0

# PyTorch and CUDA
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
pytorch-cuda==12.1

# GNN libraries
torch-geometric==2.6.1

# Data science stack
numpy==2.2.2
scipy==1.15.1
pandas==2.2.3
matplotlib==3.10.1
scikit-learn==1.6.1

# Optimization
optuna==4.2.0
joblib==1.4.2

# Utilities
ipykernel
ipython
jupyter_client
pyyaml
tqdm
